.contentes_row
  = form_with(medel: @tweet, url: tweets_path, local: true) do |form|
    %h3 投稿
    .name_box
      = form.text_field :name, placeholder: '名前'
    .text_box
      = form.text_area :text ,placeholder: 'text' 
    .submit_button
      = form.submit '送信する' do
        送信する